.App {
  display: flex;
  justify-content: center;
  align-items: center;
  border:solid 1px blue;
  height: 100vh;
  flex-direction: column;
  gap:20px;
  background-color: beige;
}

.App > div {
  width: 200px;
  height: 200px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 30px;
  border-radius: 20px;
}

.App > button {
  width: 50px;
  font-size: 20px;
}